<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Request Header Microservice
    </h1>
    <p>
      Get a response with some of your request headers!
    </p>
    
    <h3>
      Example Usage:
    </h3>
    <p>
      <code>https://learned-track.glitch.me/api/whoami</code>
    </p>
    
    <h3>
      Example Output:
    </h3>
    <p>
      <code>{"ip":"183.65.140.168","language":"en-US","os":"Apple Mac macOS Sierra","browser":"Chrome 61.0.3163.100"}</code>
    </p>
  </body>
</html>
